@page "/EditarRobo/{Id:int}"

@using Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager navegar



<EditForm Model="@EdiRob">

    <div class="container-fluid">

        <div class="form-group row mb-1">
            <label class="col-sm-3">ID</label>
            <div class="col-sm-9">
               <InputNumber class="form-control" @bind-Value="@EdiRob.Id"></InputNumber>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Cedula</label>
            <div class="col-sm-9">
                <InputNumber class="form-control" @bind-Value="@EdiRob.Cedula"></InputNumber>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Nombre</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="@EdiRob.Nombre"></InputText>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Fecha</label>
            <div class="col-sm-9">
                <InputDate class="form-control" @bind-Value="@EdiRob.Fecha"></InputDate>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Que_Robaron</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="@EdiRob.QueRobaron"></InputText>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">valor_en_Dollar</label>
            <div class="col-sm-9">
                <InputNumber class="form-control" @bind-Value="@EdiRob.ValorDollar"></InputNumber>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Donde_Ocurrio</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="@EdiRob.DondeOcurrio"></InputText>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Latitud</label>
            <div class="col-sm-9">
                <InputNumber class="form-control" @bind-Value="@EdiRob.Latitud"></InputNumber>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Longitud</label>
            <div class="col-sm-9">
                <InputNumber class="form-control" @bind-Value="@EdiRob.Logintud"></InputNumber>
            </div>

        </div>

        <div class="form-group row mb-1">
            <div class="col-sm-12">
                <button class="btn btn-primary" @onclick="Editar"> Guardar </button>
            </div>

        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public int Id { get; set; }
    TablaRobo EdiRob = new TablaRobo();
    public string url = "api/TablaRoboes";
    Response<object> respuesta = new Response<object>();
    Response<TablaRobo> RespuestaEdita = new Response<TablaRobo>();


    private async Task Editar()
    {
        if (Id != 0)
        {
            var Arespuesta = await Http.PutAsJsonAsync<object>(url,EdiRob);
            respuesta = Arespuesta.Content.ReadFromJsonAsync<Response<object>>().Result;
        }

        navegar.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            RespuestaEdita = await Http.GetFromJsonAsync<Response<TablaRobo>>(url + "/" + Id);

            EdiRob = RespuestaEdita.ls;
        }

    }


}
