@page "/RoboCrud"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@using CrudParcial.Data

<h3>RoboCrud</h3>

<table class="table">

    @if (orespuesta != null && orespuesta.Data != null)
    {
        @foreach (var Elemento in (List<Modelo_De_clase_como_LaAPi>)orespuesta.Data)
        {
            <tr>
                <td>@Elemento.Id</td>
                <td>@Elemento.cedula</td>
                <td>@Elemento.Nombre</td>
                <td>@Elemento.Fecha</td>
                <td>@Elemento.Que_Se_Robaron</td>
                <td>@Elemento.Valor_En</td>
                <td>@Elemento.Donde_ocurrio</td>
                <td>@Elemento.Latitud</td>
                <td>@Elemento.Longitud</td>

            </tr>
        }


    }

</table>

@code {

    public string url = "Aqui va el link de mi api";

    public Response orespuesta = new Response();



    protected override async Task OnInitializedAsync() =>
        orespuesta = await Http.GetFromJsonAsync<Data.Response>(url);
}
