@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@using CrudParcial.Data

<h3>RoboCrud</h3>

<div class="row">
    <div class="col-12 text-right">
        <a href="RoboForm"> Agregar Caso de robo </a>
    </div>
</div>

<table class="table">

    <tr>
        <th>Id</th>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Que_Robaron</th>
        <th>Valor_Dollar</th>
        <th>Donde_Ocurrio</th>
        <th>Latitud</th>
        <th>Logintud</th>
    </tr>

    @if (orespuesta != null && orespuesta.ls != null)
    {
        @foreach (var Elemento in orespuesta.ls)
        {
            <tr>
                <td>@Elemento.Id</td>
                <td>@Elemento.Cedula</td>
                <td>@Elemento.Nombre</td>
                <td>@Elemento.Fecha</td>
                <td>@Elemento.QueRobaron</td>
                <td>@Elemento.ValorDollar</td>
                <td>@Elemento.DondeOcurrio</td>
                <td>@Elemento.Latitud</td>
                <td>@Elemento.Logintud</td>
                <td>
                    <a href="/EditarRobo/@Elemento.Id">Editar</a>
                    <a href="/EliminarRobo/@Elemento.Id">Eliminar</a>
                </td>

            </tr>
        }


    }

</table>

@code {

    public string url = "api/TablaRoboes";

    public Response<List<TablaRobo>> orespuesta = new Response<List<TablaRobo>>();



    protected override async Task OnInitializedAsync() =>
        orespuesta = await Http.GetFromJsonAsync<Response<List<TablaRobo>>>(url);
}
