@page "/RoboForm"
@page "/RoboForm/{id:int}"
@using Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager navegar
<h3>Formulario</h3>

<EditForm Model="@ARobo">

    <div class="container-fluid">

        <div class="form-group row mb-1">
            <label class="col-sm-3">Cedula</label>
            <div class="col-sm-9">
                <InputNumber class="form-control" @bind-Value="@ARobo.Cedula"></InputNumber>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Nombre</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="@ARobo.Nombre"></InputText>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Fecha</label>
            <div class="col-sm-9">
                <InputDate class="form-control" @bind-Value="@ARobo.Fecha"></InputDate>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Que_Robaron</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="@ARobo.QueRobaron"></InputText>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">valor_en_Dollar</label>
            <div class="col-sm-9">
                <InputNumber class="form-control" @bind-Value="@ARobo.ValorDollar"></InputNumber>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Donde_Ocurrio</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="@ARobo.DondeOcurrio"></InputText>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Latitud</label>
            <div class="col-sm-9">
                <InputNumber class="form-control" @bind-Value="@ARobo.Latitud"></InputNumber>
            </div>

        </div>

        <div class="form-group row mb-1">
            <label class="col-sm-3">Longitud</label>
            <div class="col-sm-9">
                <InputNumber class="form-control" @bind-Value="@ARobo.Logintud"></InputNumber>
            </div>

        </div>

        <div class="form-group row mb-1">
            <div class="col-sm-12">
                <button class="btn btn-primary" @onclick="Save"> Guardar </button>
            </div>

        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public int Id { get; set; }

    TablaRobo ARobo = new TablaRobo();
    public string url = "api/TablaRoboes";
    Response<object> respuesta = new Response<object>();
    Response<TablaRobo> respuestaEdita = new Response<TablaRobo>();

    private async Task Save()
    {
        if (Id != 0)
        {
            var Arespuesta = await Http.PutAsJsonAsync<object>(url, ARobo);
            respuesta = Arespuesta.Content.ReadFromJsonAsync<Response<object>>().Result;
        }
        else
        {
            var Arespuesta = await Http.PostAsJsonAsync<TablaRobo>(url, ARobo);
            respuesta = Arespuesta.Content.ReadFromJsonAsync<Response<object>>().Result;
        }


        navegar.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            respuestaEdita = await Http.GetFromJsonAsync<Response<TablaRobo>>(url+"/"+Id);

            ARobo = respuestaEdita.ls;
        }

    }
}
